spring:
  application:
    name: greeting-service
server:
  port: 9091
management:
  endpoints:
    web:
      exposure:
        include:
        - '*'
greeting-service:
  greeting: "Hello"
  default-value: "World"